  @import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
}
.header{
    width: auto;
    height: 100%;
    display: flex;
    position:sticky;
    overflow: hidden;
    justify-content: space-between;
    background-color: white;
    box-shadow:6px -10px 15px #fff, 0px 3px 8px #f7f9fa;
    padding: 10px 20px 10px 39px;
    top: 0;
}
.login{
    padding-left: 70px;
}
.nav-links ul li{
   display: inline-block;
   padding: 0 10px;
}
.nav-links ul li a{
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #5E2C84;
    
}

.logo img{
    width: 18px;
    height: 18px;
}
.logo span{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Inria Sans', sans-serif;
}

                /* SOLUTION CREATED */
.solution-created{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.solution-created-text{
    padding: 100px 0 0 80px;
}
.solution-created-text h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 47px;
line-height: 57px;
color: #000000;
}
.solution-created-text p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
color: #000000;
padding: 15px 0;
}
.get-started-purple{
    width: 280px;
height: 70px;
background: #943DA9;
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
border: none;
margin-top: 20px;
}

.solution-created-img .img-circle{
    position:relative;
    width: 650px;
    height: 750px;
    top: -150px;
    z-index: -1;
    background: #f5f6fc;
    padding:0 0 0px 0;
    border-radius: 80% 0 200px 100%;
    transform: rotate(0deg);
    /* filter: blur(15px); */
    box-shadow: 0px 3px 35px #DEE1F5;
}

.solution-created-img img{
    width: 100%;
}


            /* SERVICES */

.services{
    width: 85%;
  margin:50px auto;
}
.services h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

.services-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.services-white{
    background-color: white;
    width: 150px;
    height: 25vh;
    padding: 20px;
    box-shadow:0 3px 0  0px purple, 0 0 20px lightgrey;
}
/* .services-white:hover{
    box-shadow:0 3px 0  0px purple, 0 0 30px lightgrey;
} */
.services-white h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
color: #000000;
padding-top: 5px;
}
.services-white h4{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
color: #000000;
padding-top: 10px;
}
.services-white ul li{
    list-style: none;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 160.02%;
color: #000000;
}
.services-purple{
    background-color:purple;
    width: 150px;
    height:25vh;
    box-shadow: 0 0 20px 0 lightgray;
    padding: 20px;
    box-shadow:0 3px 0  0px purple, 0 0 20px lightgrey;
    color: #FFFFFF;
}
/* .services-purple:hover{
    box-shadow:0 3px 0  0px purple, 0 0 50px lightgrey;
} */
.services-purple h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
padding-top: 5px;
}
.services-purple h4{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
padding-top: 10px;
}
.services-purple ul li{
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160.02%;
}



              /* SIMPLE SOLUTION */

    .simple-solution{
    display: flex;
    background: #5E2C84;
    padding: 20px;
    color: white;
    gap: 70px;
}
    .simple-solution .img-circle{
    width: 580px;
    height:580px;
    border-radius: 45% 50% 50% 50%;
    background: rgba(148, 61, 169, 0.6);
    margin-bottom: -40px;
    margin-left: -100px;
              }
.simple-solution-img img{
    width: 580px;
    height: 610px;
    border-radius: 50%;
    margin-bottom: -40px;
    margin-left: -30px;
    margin-top: 30px;
}
.simple-solution-text{
    padding: 50px 20px 0 0;
}
.simple-solution-text h2{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
/* line-height: 58px; */
color: #FFFFFF;
}
.simple-solution-text p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 30px;
letter-spacing: -0.5px;
color: #FFFFFF;
}

.line{
   width: 1px;
   height: 20px;
   background-color: white;
   margin-bottom: 0;
}
.listed-solution{
    margin-top: 30px;
}
.listed-solution-row {
    display: flex;
    gap: 30px;
    /* padding-bottom: 8px; */
    /* border-left: 1px solid #fff; */
}
.listed-solution-col h4{
    line-height: normal;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
}
.listed-solution-col button{
border-radius: 50%;
width: 50px;
height: 50px;
background-color: #943DA9;
color: white;
border: none;
margin-left: -25px;
margin-top: 0;
}

.btn-row button{
    width: 200px;
height: 55px;
background: transparent;
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #ffffff;
border: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid white;
}
.btn-row .get-started-white{
    color: #943DA9;
    background-color: #FFFFFF;
}
.btn-row{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.our-agency{
    display: flex;
    margin: 100px 150px;
    gap: 30px;
}

.our-agency-text{
    padding: 100px 0 0 0;
}

.our-agency-text h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 47px;
line-height: 57px;
color: #000000;
}
.our-agency-text p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
color: #000000;
padding: 15px 0;
}
.our-agency-purple{
    width: 410px;
    height: 410px;
    border-radius: 50%;
    background-color: #943DA9;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: -30px;
margin-left: -20px;
}
.our-agency-grey{
    width: 430px;
    height: 430px;
    border-radius: 50%;
    background-color: #eeecee;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.our-agency-purple img{
    width: 480px;
}

.footer{
    height:100%;
    width: auto;
    background-color: #5E2C84;
}
.footer-row{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.footer-col h4{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
color: #FFFFFF;
padding: 5px;
}
.footer-col ul li{
    list-style: none;
    padding: 5px;
}
.footer-col ul li a{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
text-decoration: none;
}
.footer-col1{
    display: flex;
}
.footer-col1 h4{
    font-family: 'Inria Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 44px;
color: #FFFFFF;
}
.footer-col1 img{
    width: 40px;
    height: 40px;
}
.footer-col1 table, td{
border: 1px solid salmon;
}

.footer-lgh-pur p{
    height: auto;
    width: auto;
    text-align: center;
    color: white;
    background-color: #943DA9;
    padding: 40px 0 0px 0;
    border-radius: 50% 50% 0 0;
    margin-bottom: -50px;
}
