  @import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
}
.header{
    width: auto;
    height: 100%;
    display: flex;
    position:sticky;
    overflow: hidden;
    justify-content: space-between;
    background-color: white;
    box-shadow:6px -10px 15px #fff;
    padding: 10px 20px 10px 39px;
    top: 0;
}
.login{
    padding-left: 70px;
}
.nav-links ul li{
   display: inline-block;
   padding: 0 8px;
}
.nav-links ul li a{
    text-decoration: none;
    font-family: 'Inria Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #5E2C84;
    
}
.login{
    padding-left: 80px;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 25px;
    height: 28px;
}
.logo p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Inria Sans', sans-serif;
}

                /* SOLUTION CREATED */
.solution-created{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.solution-created-text{
    padding: 100px 0 0 80px;
}
.solution-created-text h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 47px;
line-height: 57px;
color: #000000;
}
.solution-created-text p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
color: #000000;
padding: 15px 0;
}
.get-started-purple{
    width: 280px;
height: 70px;
background: #943DA9;
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
border: none;
margin-top: 20px;
}

.solution-created-img .img-circle{
    position:relative;
    width: 650px;
    height: 750px;
    top: -150px;
    z-index: -1;
    background: #f5f6fc;
    padding:0 0 0px 0;
    border-radius: 80% 0 200px 100%;
    transform: rotate(0deg);
    /* filter: blur(15px); */
    box-shadow: 0px 3px 35px #DEE1F5;
}

.solution-created-img img{
    width: 100%;
}


            /* SERVICES */

.services{
    width: 85%;
  margin:50px auto;
}
.services h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

.services-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.services-white{
    background-color: white;
    width: 150px;
    height: 25vh;
    padding: 20px;
    box-shadow:0 3px 0  0px purple, 0 0 20px lightgrey;
}
/* .services-white:hover{
    box-shadow:0 3px 0  0px purple, 0 0 30px lightgrey;
} */
.services-white h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
color: #000000;
padding-top: 5px;
}
.services-white h4{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
color: #000000;
padding-top: 25px;
}
.services-white ul li{
    list-style: none;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 160.02%;
color: #000000;
}
.services-purple{
    background-color:purple;
    width: 150px;
    height:25vh;
    box-shadow: 0 0 20px 0 lightgray;
    padding: 20px;
    box-shadow:0 3px 0  0px purple, 0 0 20px lightgrey;
    color: #FFFFFF;
}
/* .services-purple:hover{
    box-shadow:0 3px 0  0px purple, 0 0 50px lightgrey;
} */
.services-purple h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 22px;
padding-top: 5px;
}
.services-purple h4{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px;
padding-top: 25px;
}
.services-purple ul li{
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 160.02%;
}



              /* SIMPLE SOLUTION */

    .simple-solution{
    display: flex;
    background: #5E2C84;
    padding: 20px;
    color: white;
    gap: 70px;
}
    .simple-solution .img-circle{
    width: 580px;
    height:580px;
    border-radius: 45% 50% 50% 50%;
    background: rgba(148, 61, 169, 0.6);
    margin-bottom: -40px;
    margin-left: -100px;
              }
.simple-solution-img img{
    width: 580px;
    height: 610px;
    border-radius: 50%;
    margin-bottom: -40px;
    margin-left: -30px;
    margin-top: 30px;
}
.simple-solution-text{
    padding: 50px 20px 0 0;
}
.simple-solution-text h2{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
/* line-height: 58px; */
color: #FFFFFF;
}
.simple-solution-text p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 30px;
letter-spacing: -0.5px;
color: #FFFFFF;
}

.line{
   width: 1px;
   height: 20px;
   background-color: white;
   margin-bottom: 0;
}
.listed-solution{
    margin: 30px 0;
}
.listed-solution-row {
    display: flex;
    gap: 30px;
    /* padding-bottom: 8px; */
    /* border-left: 1px solid #fff; */
}
.listed-solution-col h4{
    line-height: normal;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
}
.listed-solution-col button{
border-radius: 50%;
width: 50px;
height: 50px;
background-color: #943DA9;
color: white;
border: none;
margin-left: -25px;
margin-top: 0;
}

.btn-row button{
    width: 200px;
height: 55px;
background: transparent;
border-radius: 8px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #ffffff;
border: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid white;
}
.btn-row .get-started-white{
    color: #943DA9;
    background-color: #FFFFFF;
}
.btn-row{
    display: flex;
    gap: 10px;
    /* margin-top: 20px; */
}

.our-agency{
    display: flex;
    margin: 100px 150px;
    gap: 30px;
}

.our-agency-text{
    padding: 100px 0 0 0;
}

.our-agency-text h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 47px;
line-height: 57px;
color: #000000;
}
.our-agency-text p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
color: #000000;
padding: 15px 0;
}
.our-agency-purple{
    width: 410px;
    height: 410px;
    border-radius: 50%;
    background-color: #943DA9;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: -30px;
margin-left: -20px;
}
.our-agency-grey{
    width: 430px;
    height: 430px;
    border-radius: 50%;
    background-color: #eeecee;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.our-agency-purple img{
    width: 480px;
}

.testimonial{
    box-shadow: 0 0 20px 0 rgb(241, 248, 248);
    color: #000000;
    padding: 30px 15px 10px 15px;
    margin: 50px 5px;
}
.testimonial img{
    width: 40px;
    height: 40px;
}
.testimonial svg{
    margin: 10px 0 0 0;
}
.testimonial-row{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}
.testimonial p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
color: #353535;
}
.testimonial-col h4{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #000000;

}
.testimonial-col img{
    background: #f7f9fa;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.testimonial-quotes{
    margin: -10px 0 0 50px;
    padding: 0;
}
     /* footer */
.footer{
    height:100%;
    width: auto;
    background-color: #5E2C84;
    padding-top: 100px;
}
.footer-row{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-bottom: 100px;
}
.footer-col h4{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
color: #FFFFFF;
padding: 5px;
}
.footer-col ul li{
    list-style: none;
    padding: 5px;
}
.footer-col ul li a{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
text-decoration: none;
}
.footer-col1{
    display: flex;
    
}
.footer-col1 h4{
    font-family: 'Inria Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 44px;
color: #FFFFFF;
}
.footer-col1 img{
    width: 40px;
    height: 40px;
}
.footer-col1 table, td{
border: 1px solid salmon;
}


.footer-lgh-pur{
    width: 100%;
    height: 15vh;
    background: url(../img/footer-p-b.g.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}
.ready-to-start{
    background-color: #943DA9;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin:0 auto -50px auto;
    position: relative;
    z-index: 1;
}
.ready-to-start h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;
color: #FFFFFF;

}

nav .fa{
    display: none;
}
@media screen and (min-width:270px) and (max-width:920px){
    .nav-links ul li{
        display: block;
        padding: 10px;
    }
    .block{
        display: block;
    }
    .login{
        padding-left: 0px;
    }
    nav{
        padding: 20px 20px 20px 0px;
        justify-content: space-between;
    }
    nav .fa{
        display:block;
        font-size: 35px;
        padding-right: 20px;
        cursor: pointer;
    }
    .fa-times{
        text-align: left;
        padding:15px 0 30px 10px;
        color: white;
        
    }
    .nav-links ul li a{
        font-size: 25px;
        color: white;
    }
    
    .nav-links{
        position:fixed;
        background:#943DA9;
        height: 100%;
        width:40vw;
        top:0px;
        right:-700px;
        text-align:left;
        z-index: 2; 
        transition: 1s;
        margin: 0;
    }
    .solution-created{
        flex-direction: column-reverse;
        gap: 0;
    }
    .solution-created-img .img-circle {
        position: relative;
        width: 100%;
        height: auto;
        top: -20px;
        }
        .solution-created-text {
            padding: 20px;
        }
        .solution-created-text h1{
            font-size: 35px;
            line-height: normal;
        }
        .services h2 {
            font-size: 30px;
            line-height: 50px;
        }
        .services-purple ul li {
            font-size: 14px;
            line-height: 140.02%;
        }
        .services-white ul li {
            font-size: 14px;
            line-height: 160.02%;
        }
        .services-white {
            width: auto;
            height: 100%;
            }
            .services-purple {
                width: auto;
                height: 100%;
                }   
    .services-row{
        flex-direction: column;
    }
    .simple-solution .img-circle {
        width: auto;
        height: 490px;
    }
    .simple-solution{
        flex-direction: column-reverse;
    }
    .simple-solution-img img {
        width: 100%;
        height: 490px;
    }
    .simple-solution-text p{
        line-height: inherit;
        letter-spacing: 0.5px;
    }
    .line{
        margin-left: 15px;
    }
    .listed-solution-col{
        margin-bottom: 0;
    }
    .listed-solution-col button{
        margin-left: -10px;
    }
    .our-agency{
        flex-direction: column;
        margin: 0;
        padding: 20px;
        gap: 20px;
        width: auto;
    }
    .our-agency-text h1{
        font-size: 40px;
    }
    .our-agency-img{
        margin:50px auto;
    }
    .our-agency-grey {
        width: 320px;
        height: 320px;
        }
        .our-agency-purple {
            width: 300px;
            height: 300px;
        }
        .our-agency-purple img{
            width: 340px;
        }
    .testimonial{
        margin: 50px 0px;
    }
    .testimonial-quotes {
        margin: -10px 0 0 0px;
    }
    .testimonial p {
        font-size: 10px;
        line-height: normal;
    }
    .testimonial-col h4{
        font-size: 13px;
    }
    .ready-to-start{
        flex-direction: column;
        margin: 20px auto;
    z-index: -1;
}
    .ready-to-start h3{
        padding-bottom: 10px;
    }
    .footer-row{
        display: flex;
        padding: 40px;
    }
   .footer-row{
       flex-direction: column;
   }
   .footer-lgh-pur{
       height: 8vh;
   }
}

@media screen and (min-width:600px) and (max-width:800px){
    .simple-solution .img-circle {
        width: auto;
        height: 750px;
    }
    .simple-solution{
        flex-direction: column-reverse;
    }
    .simple-solution-img img {
        width: 100%;
        height: 750px;
    }
    .our-agency-grey {
        width: 470px;
        height: 470px;
        }
        .our-agency-purple {
            width: 450px;
            height: 450px;
        }
        .our-agency-purple img{
            width: 470px;
        }
}

@media screen and (min-width:750px) and (max-width:950px){
    .solution-created-img .img-circle{
        width: 450px;
        height: 535px;
    }
    .btn-row button{
        width: 170px;
    }
    .our-agency{
        display: flex;
        margin: 100px 50px;
        gap: 30px;
    }
    .footer-col h4{
    font-size: 35px;
    }
    .footer-col ul li a{
    font-size: 15px;
    }
    .footer-col1 h4{
    font-size: 30px;
    }
    .services-white{
        background-color: white;
        width: 180px;
        height: 100%;
        padding: 20px;
        box-shadow:0 3px 0  0px purple, 0 0 20px lightgrey;
    }
    .services-purple{
        background-color:purple;
        width: 200px;
        height:100%;
        box-shadow: 0 0 20px 0 lightgray;
        padding: 20px;
        box-shadow:0 3px 0  0px purple, 0 0 20px lightgrey;
        color: #FFFFFF;
    }
}
