/* solution-created */

.write-up{
/* img */
    position: absolute;
    width: 1070px;
    height: 1070px;
    left: 882px;
    top: -88px;
    background: #DEE1F5;
    filter: blur(15px);


    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
color: #000000;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

/* button */
position: absolute;
width: 282px;
height: 75px;
left: 259px;
top: 741px;

background: #943DA9;
border-radius: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 58px;
/* identical to box height */


color: #000000;


/* services */
/* box */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #000000;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 160.02%;
/* or 19px */


color: #000000;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #000000;


/* simple-solution  */

/* image */

position: absolute;
width: 921px;
height: 921px;
left: -209px;
top: 1503px;
background: rgba(148, 61, 169, 0.6);

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
/* identical to box height */


color: #FFFFFF;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */

letter-spacing: -0.06em;

color: #FFFFFF;


font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */


color: #FFFFFF;

/* simple solution circle */
position: absolute;
width: 52px;
height: 52px;
left: 802px;
top: 265px;

background: #943DA9;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;

position: absolute;
width: 270px;
height: 70px;
left: 808px;
top: 610px;
background: #FFFFFF;
border-radius: 5px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #943DA9;


/* our agency */

/* grey */
position: absolute;
width: 653px;
height: 674px;
left: 766px;
top: 2507px;
background: #E1E5F4;

/* purple */
position: absolute;
width: 653px;
height: 674px;
left: 766px;
top: 2507px;
background: #E1E5F4;


/* clients */
position: absolute;
width: 364px;
height: 220px;
left: 259px;
top: 3426px;
background: #FFFFFF;
border-radius: 5px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: #000000;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: #353535;


/* get started */

position: absolute;
width: 1198px;
height: 150px;
left: 258px;
top: 3696px;
background: #943DA9;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;
/* identical to box height */
color: #FFFFFF;

/* footer */

position: absolute;
width: 1728px;
height: 708px;
left: 0px;
top: 3770px;
background: #5E2C84;


font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
color: #FFFFFF;


font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
color: #FFFFFF;


font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;

}

